@using RealEstateSystem.Models.ViewModels.Category
@model CategoryHouseServiceViewModel
    
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<p>Are you sure you want to delete this category?</p>

<table class="table">
    <thead>
        <tr class="table-header">
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
        </tr>
    </tbody>
</table>

<form asp-action="DeletePost" id="myForm" onsubmit="sendForm(event)" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit"  class="btn btn-danger">Delete</button>
    |
    <a asp-action="AllCategory">Back to List</a>
</form>

@section Scripts {
    <script>       

        function sendForm(event) {
            event.preventDefault();

            Swal.fire({
                title: "Are you sure you want to delete this category?",
                text: "This action cannot be undone.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                cancelButtonColor: "#868E96",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel"
            }).then(result => {
                if (result.isConfirmed) {
                    const form = document.getElementById('myForm');
                    form.submit();
                    
                }
            });            
        }

    </script>
}



