@using RealEstateSystem.Models.ViewModels.House
@model AllHousesQueryModel

@{
    ViewData["Title"] = "All Houses";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">All Houses</h1>
    </div>
</div>

