@using RealEstateSystem.Models.ViewModels.House
@model HouseDetailsViewModel

@{
    ViewData["Title"] = "House Details";
}

<div class="row">

    <div class="col-md-12">

        <h1 class="text-center">House Details</h1>

    </div>
</div>