@using RealEstateSystem.Models.ViewModels.House
@model AllHousesQueryModel

@{
    ViewData["Title"] = "My Houses";
}

<div class="row">

    <div class="col-md-12">

        <h1 class="text-center">My Houses</h1>

    </div>
</div>