@using RealEstateSystem.Models.ViewModels.House
@model IEnumerable<HouseServiceModel>

@{
    ViewData["Title"] = "My Houses";
}

<div class="row">

    <div class="col-md-12">

        <h1 class="text-center">My Houses</h1>

    </div>
    <hr />
    @if (!Model.Any())
    {
        <h2 class="text-center">You have no houses</h2>
        
    }

    <div class="row">

        @foreach (var house in Model)
        {
            <partial name="_HousePartial" model="house" />             
        }

    </div>   

</div>